

<div class="bg-body-tertiary py-5 px-2 ">
  <div class="container">
      <h4>Get The Fresh Cart App</h4>
      <p class="text-muted">We Will send you a link , open it on your phone to download the app</p>
      <div class="row">
        <div class="col-md-8">
          <input class="w-75 form-control my-input" placeholder="Email...">
        </div>
        <div class="col-md-4">
          <button class="btn bg-main text-white my-btn">Send App Link</button>
        </div>
      </div>
      <div class="brd my-3"></div>

     <div class="row">
      <div class=" col-md-8">
          <span class=" w-75 me-3">Payment parteners</span>
          <img src="assets/images/Amazon_logo.svg.webp" class="my-footer-img">
          <img src="assets/images/Visa_Inc._logo.svg.png" class="my-footer-img mx-2">
          <img src="assets/images/MasterCard_Logo.svg.webp" class="my-footer-img">
     </div>
      <div class="w-25 d-flex align-items-center col-md-4 my-support">
          <img src="assets/images/apple-app-store-logo.jpg" class="apple-store">
          <img src="assets/images/play-store-logo-nisi-filters-australia-11.png" class="play-store">

     </div>
     </div>
  </div>
</div>
