<div class="container py-5">
  <h2 class="pb-4">Update User Password : </h2>
  <p *ngIf="errorMassage" class="alert alert-danger text-center fs-4 fw-bold">{{errorMassage}}</p>

  <form action="" (ngSubmit)="handelUpdatePassword(updatePasswordForm)" [formGroup]="updatePasswordForm" >


    <label for="currentPassword">Current Password :</label>
    <input formControlName="currentPassword" type="password" id="currentPassword" class="form-control mb-2" >
    <div *ngIf="updatePasswordForm.get('currentPassword')?.errors && updatePasswordForm.get('currentPassword')?.touched" class="alert alert-danger ">
      <p *ngIf="updatePasswordForm.get('currentPassword')?.getError('pattern')" class="m-0">Password must start with uppercase then from 6 to 10 char</p>
      <p *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')" class="m-0">password is required</p>
    </div>

    <label for="Password">Password :</label>
    <input formControlName="password" type="password" id="Password" class="form-control mb-2" >
    <div *ngIf="updatePasswordForm.get('password')?.errors && updatePasswordForm.get('password')?.touched" class="alert alert-danger ">
      <p *ngIf="updatePasswordForm.get('password')?.getError('pattern')" class="m-0">Password must start with uppercase then from 6 to 10 char</p>
      <p *ngIf="updatePasswordForm.get('password')?.getError('required')" class="m-0">password is required</p>
    </div>

    <label for="rePassword">Confirm Password :</label>
    <input formControlName="rePassword" type="password" id="rePassword" class="form-control mb-2" >
    <div *ngIf="updatePasswordForm.get('rePassword')?.errors && updatePasswordForm.get('rePassword')?.touched" class="alert alert-danger ">
      <p *ngIf="updatePasswordForm.get('rePassword')?.getError('pattern')" class="m-0">Password must start with uppercase then from 6 to 10 char</p>
      <p *ngIf="updatePasswordForm.get('rePassword')?.getError('required')" class="m-0">password is required</p>
    </div>

    <div class=" d-flex justify-content-between align-items-center py-2">
      <button [disabled]="updatePasswordForm.invalid" type="submit" class="btn btn-success my-1">
      <span *ngIf="!isLoding">Update Password</span>
      <i *ngIf="isLoding" class="fa-solid fa-spinner fa-spin px-3"></i>
      </button>
    </div>


  </form>

</div>
