<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand fw-bolder " routerLink="home"><img src="assets/images/freshcart-logo.svg" alt=""></a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-small-nav" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0 my-left-nav" *ngIf="isLogin">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="fw-bolder" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="fw-bolder" routerLink="product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="fw-bolder" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="fw-bolder" routerLink="brands">Brands</a>
        </li>

      </ul>

      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-flex align-items-center my-right-nav">

        <!-- <li class="nav-item d-flex align-items-center social-icon cursor-pointer">
          <i class="fa-brands fa-instagram mx-2"></i>
          <i class="fa-brands fa-facebook mx-2"></i>
          <i class="fa-brands fa-tiktok mx-2"></i>
          <i class="fa-brands fa-twitter mx-2"></i>
          <i class="fa-brands fa-linkedin mx-2"></i>
          <i class="fa-brands fa-youtube mx-2"></i>
        </li> -->




          <li *ngIf="isLogin" class="nav-item d-flex justify-content-center align-items-center mx-1 py-2 position-relative py-1 px-2 cursor-pointer myCart">
            <i (mouseleave)="cartBeatLeave()" (mouseenter)="cartBeatEnter()" routerLink="cart" class="fa-solid fa-cart-shopping text-dark beat   fs-4 "></i>
            <span class="badge bg-main position-absolute top-0 end-0 badg mb-3">{{numberOfCart}}</span>
          </li>

          <li *ngIf="isLogin" class="nav-item d-flex justify-content-center align-items-center mx-1 position-relative py-0 px-2 cursor-pointer myCart">
            <a class="btn p-0">
              <svg routerLink="whishlist" class="fa-solid fa-bookmark text-info-emphasis fs-3 " viewBox="0 0 17.503 15.625" height="20.625" width="20.503" xmlns="http://www.w3.org/2000/svg" class="icon">
                <path transform="translate(0 0)" d="M8.752,15.625h0L1.383,8.162a4.824,4.824,0,0,1,0-6.762,4.679,4.679,0,0,1,6.674,0l.694.7.694-.7a4.678,4.678,0,0,1,6.675,0,4.825,4.825,0,0,1,0,6.762L8.752,15.624ZM4.72,1.25A3.442,3.442,0,0,0,2.277,2.275a3.562,3.562,0,0,0,0,5l6.475,6.556,6.475-6.556a3.563,3.563,0,0,0,0-5A3.443,3.443,0,0,0,12.786,1.25h-.01a3.415,3.415,0,0,0-2.443,1.038L8.752,3.9,7.164,2.275A3.442,3.442,0,0,0,4.72,1.25Z" id="Fill"></path>
              </svg>
              <span class="badge bg-main position-absolute top-0 end-0 badg">{{numberOfWishlistItem}}</span>
            </a>
          </li>

      <li *ngIf="isLogin" routerLink="Setting"  class="d-flex align-items-center border rounded-1 p-1 cursor-pointer">
        <div  class="nav-item d-flex justify-content-center align-items-center mb-1  cursor-pointer my-profile me-1">
          <Span class="fw-bold">{{myFirstChar.name.toUpperCase().charAt(0)}}</Span>
        </div>
        <Span>{{myFirstChar.name.split(" ").splice(0,1).join(" ")}}</Span>
      </li>


          <li class="nav-item">
            <a *ngIf="!isLogin" class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a *ngIf="!isLogin" class="nav-link" routerLink="register">Register</a>
          </li>

          <li *ngIf="isLogin" (click)="logOut()"  class="nav-item my-2 mx-3  d-flex align-items-center">
            <span class="nav-link cursor-pointer" >LogOut</span>
            <i class="fa-solid fa-right-from-bracket mx-1"></i>
          </li>


      </ul>

    </div>
  </div>
</nav>
