
  <div class="bg-main-light p-4 my-4">
    <h3 class="fw-bolder cart-title py-2">Shop Cart</h3>
    <div class="d-flex justify-content-between align-items-center cart-data">
      <h6 class="text-main fw-bold">Total Price : {{allCartProduct.totalCartPrice}} EGP</h6>
      <a (click)="clearCart()" class="cursor-pointer text-danger btn btn-outline-light"> Clear your cart <i class="fa-solid fa-trash mx-1"></i></a>
    </div>
    <h4 *ngIf="massage" class="alert alert-info text-center my-2">{{massage}}</h4>

    <div *ngFor="let p of allCartProduct.products" class="row border-bottom py-3 align-items-center">
      <div class="col-md-1">
        <img [src]="p.product.imageCover " class="w-100 my-cart-img" alt="">
      </div>
      <div class="col-md-7 d-flex justify-content-between align-items-center">
        <div class="mx-3">
            <h6>{{p.product.title}}</h6>
            <h6 class="text-main">Price :  {{p.price}} EGP</h6>
            <h6 class="">Count :  {{p.count}}</h6>
            <span (click)="revomeItem(p.product._id)" class="text-danger cursor-pointer"><i class="fa-solid fa-trash-can me-1"></i> Remove</span>
        </div>

      </div>

      <div class="fs-5 col-md-3 d-flex justify-content-end align-items-center my-count ">
        <div class="ps-3 ">
          <i (click)="updateCount(p.product._id , p.count-1 )" class="fa-solid fa-square-minus text-danger cursor-pointer"></i>
          <i class="fa-solid fa-1 mx-3 "></i>
          <i (click)="updateCount(p.product._id , p.count+1 )" class="fa-solid fa-square-plus text-success cursor-pointer"></i>

        </div>
      </div>
    </div>

    <button [routerLink]="['/checkout' , cartId]" class="btn btn-success my-3 mx-auto d-block my-2 ">Online Payment <i class="fa-brands fa-cc-visa mx-1 "></i></button>

  </div>

  <app-loading *ngIf="isloadingPage"></app-loading>


