<div class="container py-5">
  <h2 class="fw-bolder py-4">Forget Password : </h2>

  <p *ngIf="errorMassage" class="alert alert-danger text-center fs-4 fw-bold">{{errorMassage}}</p>

  <form action="" (ngSubmit)="handelForget(forgetForm)" [formGroup]="forgetForm" class="py-3">



    <label for="email " class="fs-5 py-2">Please enter your verification code  :</label>
    <input formControlName="email" type="text" id="email" class="form-control mb-2" placeholder="Email">
    <div *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched" class="alert alert-danger ">
      <p *ngIf="forgetForm.get('email')?.getError('email')" class="m-0">Enter valid Email</p>
      <p *ngIf="forgetForm.get('email')?.getError('required')" class="m-0">email is required</p>
    </div>




      <button [disabled]="forgetForm.invalid" type="submit" class="btn btn-success my-3">
      <span *ngIf="!isLoding">Verify</span>
      <i *ngIf="isLoding" class="fa-solid fa-spinner fa-spin px-3"></i>
      </button>


  </form>

</div>
